{% extends 'base.html.twig' %}

{% block body %}
<div class="video-screen" style="background-image: url(stream.mjpeg)">
  <header class="navbar navbar-expand-lg navbar-dark bg-semi-dark sticky-top">
    <a class="navbar-brand" href="{{ path('index') }}">CATPOO</a>

    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbar-collapsible-section"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapsible-section">
      <div class="flex-grow-1"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('index') }}">Refresh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="restart-motion-service">Start Motion Service</a>
        </li>
      </ul>
    </div>
  </header>

  <div class="robot-vision">
    <!-- mainly used for spacing -->
  </div>

  <div class="robot-controls" id="robot-controls">
    {% include "partial/robot-controls.html.twig" %}
  </div>

</div><!-- .video-screen -->
{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
require([
  'jquery',
  'lodash',
  'catpoo',
],
function ($, _) {
  'use strict';

  var MIN_TIME = 200;

  window.console.log('Application should now start');

  var reset = _.throttle(function () {
    $.get("{{ path('command_reset') }}");
  }, 500, {leading: false, trailing: true});

  $('body').on('click', '.reset-btn', function () {
    reset();
  });

  var moveForwardInterval = null;

  var ControlButton = function (selector, callback) {
    this.selector = selector;
    this.callback = callback;
    this.interval = null;

    var startCallback = _.bind(function () {
      this.callback();

      if (this.interval) {
        clearInterval(this.interval);
      }

      this.interval = setInterval(this.callback, MIN_TIME);
    }, this);

    var stopCallback = _.bind(function () {
      if (this.interval) {
        window.console.log('Clearing interval', this.interval);
        clearInterval(this.interval);
        reset();
        this.interval = null;
      }
    }, this);

    $('body').on('mousedown', selector, startCallback);
    $('body').on('mouseup', stopCallback);
    // $('body').on('ondragend', stopCallback);
    // $('body').on('ondrag', stopCallback);
    // $('body').on('ondrop', stopCallback);
    // $('body').on('ondragstart', stopCallback);
  };

  var moveForward = _.throttle(function () {
    $.get("{{ path('command_translate', {'x': 0, 'y': 50}) }}");
  }, MIN_TIME, {leading: true, trailing: false});

  var moveBackward = _.throttle(function () {
    $.get("{{ path('command_translate', {'x': 0, 'y': -50}) }}");
  }, MIN_TIME, {leading: true, trailing: false});

  var moveLeft = _.throttle(function () {
    $.get("{{ path('command_translate', {'x': -50, 'y': 0}) }}");
  }, MIN_TIME, {leading: true, trailing: false});

  var moveRight = _.throttle(function () {
    $.get("{{ path('command_translate', {'x': 50, 'y': 0}) }}");
  }, MIN_TIME, {leading: true, trailing: false});

  var turnLeft = _.throttle(function () {
    $.get("{{ path('command_rotate', {'d': -50}) }}");
  }, MIN_TIME, {leading: true, trailing: false});

  var turnRight = _.throttle(function () {
    $.get("{{ path('command_rotate', {'d': 50}) }}");
  }, MIN_TIME, {leading: true, trailing: false});

  var moveForwardButton = new ControlButton('.move-forward-btn', moveForward);
  var moveBackwardButton = new ControlButton('.move-backward-btn', moveBackward);
  var moveLeftButton = new ControlButton('.move-left-btn', moveLeft);
  var moveRightButton = new ControlButton('.move-right-btn', moveRight);
  var turnLeftButton = new ControlButton('.turn-left-btn', turnLeft);
  var turnRightButton = new ControlButton('.turn-right-btn', turnRight);

  $('body').on('click', '#restart-motion-service', function () {
    $.get("{{ path('command_restart_motion') }}");
  });

});
</script>
{% endblock %}
