{% extends 'base.html.twig' %}

{% block body %}
<div class="video-screen" style="background-image: url(stream.mjpeg)">
  <header class="navbar navbar-expand-lg navbar-dark bg-semi-dark sticky-top">
    <a class="navbar-brand" href="{{ path('index') }}">CATPOO</a>

    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbar-collapsible-section"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapsible-section">
      <div class="flex-grow-1"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('index') }}">Refresh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="restart-motion-service">Start Motion Service</a>
        </li>
      </ul>
    </div>
  </header>

  <div class="robot-vision">
    <!-- mainly used for spacing -->
  </div>

  <div class="robot-controls" id="robot-controls">
    {% include "partial/robot-controls.html.twig" %}
  </div>

</div><!-- .video-screen -->
{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
require([
  'catpoo',
],
function () {
  console.log('Application should now start');

  $('body').on('click', '.reset-btn', function () {
    $.get("{{ path('command_reset') }}");
  });

  $('body').on('click', '.move-left-btn', function () {
    $.get("{{ path('command_translate', {'x': -100, 'y': 0}) }}");
  });
  $('body').on('click', '.move-right-btn', function () {
    $.get("{{ path('command_translate', {'x': 100, 'y': 0}) }}");
  });
  $('body').on('click', '.move-forward-btn', function () {
    $.get("{{ path('command_translate', {'x': 0, 'y': 100}) }}");
  });
  $('body').on('click', '.move-backward-btn', function () {
    $.get("{{ path('command_translate', {'x': 0, 'y': -100}) }}");
  });

  $('body').on('click', '.turn-left-btn', function () {
    $.get("{{ path('command_rotate', {'d': 50}) }}");
  });
  $('body').on('click', '.turn-right-btn', function () {
    $.get("{{ path('command_rotate', {'d': -50}) }}");
  });

  $('body').on('click', '#restart-motion-service', function () {
    $.get("{{ path('command_restart_motion') }}");
  });

});
</script>
{% endblock %}
